<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <title>Page connexion</title>
    <style>

body{
    margin:0;
    padding:0;
    font-family: poppins,verdana,sans-serif;
}
@media screen and (min-width:900px){
    .form__login{
        height:30%;
        width:30%;
        position: absolute;
        left:35%;
        top: 30%;
        }
       
} 
    
      
    </style>
</head>

<body>
<form action="/login" method="post" class="form__login">
    <fieldset>
        <legend>Paramètres de conexion</legend>
    <div class="form-floating mb-3 border">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
        <button type="submit" class="btn btn-outline-primary">Se Connecter</button>
    </div>
        <div class="col-4"></div>
    </div>
 

</fieldset>
</form>


<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>